:root {
  --radgrad: "radial-gradient(circle at center, rgb(115, 55, 140), darkmagenta)";
}
body {
  font-size: 16px;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.app {
  background-color: #e9e4e4;
  display: block;
  height: 100vh;
  width: 100%;
  text-align: center;
  font-size: 16px;
  overflow-x: hidden;
}
.game {
  width: 100%;
}
.btn {
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}
.rising,
.btn.rising,
.player-card-items,
.player-card-items.rising {
  margin: 4px;
  padding: 4px;
  border: none;
  border-radius: 8px;
  box-shadow: 7px 7px 7px 0px rgba(0, 0, 0, 0.03), -7px -7px 7px 0px rgb(250, 250, 250, 1);
  /* box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1); */
}
.start-btn {
  font-weight: bold;
  font-size: 2rem;
  text-transform: uppercase;
  color: darkmagenta;
  background-color: white;
  cursor: pointer;
}
.double-btn {
  margin: 8px;
  padding: 8px;
  border: none;
  border-radius: 8px;
  box-shadow: 8px 8px 8px 0 rgba(0, 0, 0, 0.3), -8px -8px 8px 0 rgb(250, 250, 250, 1);
}

.button-wrapper {
  font-size: 4rem;
  margin: 1rem 0 2rem 0;
}

.select-player-wrapper {
  display: grid;
  gap: 15px;
  width: 100%;
  place-items: center;
}
ul.saved-game-list {
  width: 100%;
  display: grid;
  list-style: none;
  gap: 25px;
  /* margin: 0; */
  padding: 0;
  grid-template-columns: max-content;
  text-align: center;
  place-content: center;
  place-items: center;
}
li.game-card-wrapper {
  width: 100%;
}
