:root {
  --pdark: #004346;
  --pmain: #006064;
  --plight: #337f83;
  /* --pdark: #009074;
  --pmain: #00c1a3;
  --plight: #5df5d4; */
  --sdark: #790e3c;
  --smain: #ad1457;
  --slight: #bd4378;
  --offwhite: #b9b9b9;
}

body {
  font-size: 16px;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.app {
  display: block;
  height: 100vh;
  width: 100%;
  text-align: center;
  justify-content: center;
  font-size: 16px;
  overflow-x: hidden;
}
.game {
  width: 100%;
}
.btn {
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}
.rising,
.btn.rising,
.player-card-items,
.player-card-items.rising {
  margin: 4px;
  padding: 4px;
  border: none;
  border-radius: 8px;
  box-shadow: 7px 7px 7px 0px rgba(0, 0, 0, 0.03), -7px -7px 7px 0px rgb(250, 250, 250, 1);
  /* box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1); */
}

.select-player-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  margin: 10px;
  gap: 2ch;
  width: 100%;
  place-items: center;
}
ul.saved-game-list {
  width: 100%;
  display: grid;
  list-style: none;
  gap: 25px;
  padding: 0;
  grid-template-columns: max-content;
  text-align: center;
  place-content: center;
  place-items: center;
}
li.game-card-wrapper {
  background-color: var(--offwhite);
  width: 100%;
}
.current-turn,
.current-turn > * {
  border-bottom: solid 5px var(--plight);
  /* color: var(--offwhite); */
}
.dealer-icon {
  color: #fff;
  background-color: var(--pmain);
}
.not-dealer-icon {
  background-color: var(--smain);
}
#eyes {
  /* background-color: var(--offwhite); */
  background-color: #dfdbe5;
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='12' viewBox='0 0 20 12' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 12c0-.622-.095-1.221-.27-1.785A5.982 5.982 0 0 0 10 12c1.67 0 3.182-.683 4.27-1.785A5.998 5.998 0 0 0 14 12h2a4 4 0 0 1 4-4V6c-1.67 0-3.182.683-4.27 1.785C15.905 7.22 16 6.622 16 6c0-.622-.095-1.221-.27-1.785A5.982 5.982 0 0 0 20 6V4a4 4 0 0 1-4-4h-2c0 .622.095 1.221.27 1.785A5.982 5.982 0 0 0 10 0C8.33 0 6.818.683 5.73 1.785 5.905 1.22 6 .622 6 0H4a4 4 0 0 1-4 4v2c1.67 0 3.182.683 4.27 1.785A5.998 5.998 0 0 1 4 6c0-.622.095-1.221.27-1.785A5.982 5.982 0 0 1 0 6v2a4 4 0 0 1 4 4h2zm-4 0a2 2 0 0 0-2-2v2h2zm16 0a2 2 0 0 1 2-2v2h-2zM0 2a2 2 0 0 0 2-2H0v2zm20 0a2 2 0 0 1-2-2h2v2zm-10 8a4 4 0 1 0 0-8 4 4 0 0 0 0 8zm0-2a2 2 0 1 0 0-4 2 2 0 0 0 0 4z' fill='%239C92AC' fill-opacity='0.19' fill-rule='evenodd'/%3E%3C/svg%3E");
}

/* .dealer-indicator {
  border-right-color: var(--slight);
  border-left-color: var(--slight);
} */
