body {
  font-size: 16px;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.app {
  background-color: #eeeeee;
  display: block;
  height: 100vh;
  width: 100%;
  justify-content: space-between;
  text-align: center;
  font-size: 16px;
  overflow-x: hidden;
}
.game {
  width: 100%;
}
.btn {
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  background-color: cornflowerblue;
  cursor: pointer;
}
.rising,
.btn.rising,
.player-card-items,
.player-card-items.rising {
  margin: 4px;
  padding: 4px;
  border: none;
  border-radius: 8px;
  box-shadow: 7px 7px 7px 0px rgba(0, 0, 0, 0.03), -7px -7px 7px 0px rgb(250, 250, 250, 1);
  /* box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1); */
}
.start-btn {
  font-weight: bold;
  font-size: 2rem;
  text-transform: uppercase;
  color: royalblue;
  background-color: white;
  cursor: pointer;
}
.double-btn {
  margin: 8px;
  padding: 8px;
  border: none;
  border-radius: 8px;
  box-shadow: 8px 8px 8px 0 rgba(0, 0, 0, 0.3), -8px -8px 8px 0 rgb(250, 250, 250, 1);
}

.button-wrapper {
  font-size: 3rem;
}

.select-player-wrapper {
  display: grid;
  gap: 15px;
  width: 100%;
  place-items: center;
}
.saved-game-list {
  text-align: center;
  align-items: center;
  justify-content: center;
}
.load-game-wrapper {
  margin: auto;
  text-align: center;
  align-items: center;
  justify-content: center;
}
